@model OktaJS_SDK.Models.SetUserPassword

@{
    ViewBag.Title = "Set Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="pswverification" class="infobox infobox-error infobox-compact icon-16 clear signin-feedback" style="display:none">
    <span class="glyphicon glyphicon-exclamation-sign form-alert"></span>
    <p id="errmessage"> </p>
</div>
<div class="sign-in-content rounded-6">
    <div class="rounded-6 factor-content factor-content-soft-token">

        <h1 class="margin-btm-0">Set Password</h1>
        <p> @TempData["complexity1"]</p>
        <p> @TempData["complexity2"]</p>
        <p> @TempData["complexity3"]</p>
        <p> @TempData["complexity4"]</p>

        <form action="~/Registration/SetPassword" method="post" id="registration_psw" class="v-form" onsubmit="return validateForm()" autocomplete="off" style="border:none;">
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <input id="relayState" name="relayState" type="hidden" value="@TempData["relayState"]" placeholder="" />
            <input id="stateToken" name="stateToken" type="hidden" value="@TempData["stateToken"]" placeholder="" />
            <input id="userName" name="userName" type="hidden" value="@TempData["userName"]" placeholder="" />
            <input id="oktaId" name="oktaId" type="hidden" value="@TempData["oktaId"]" p placeholder="" />

            <label class="l-txt normal text-primary margin-rl-0 margin-btm-10">
                New Password
                <input name="newPassword" id="newPassword" class="text" type="password" autofocus onfocus="hidebanner(document.getElementById('pswverification'))" tabindex="1">
            </label>
            <label class="l-txt normal text-primary margin-rl-0 margin-btm-10">
                Confirm Password
                <input name="confPassword" id="confPassword" class="text" type="password" onfocus="hidebanner(document.getElementById('pswverification'))" tabindex="2">
            </label>


            <input id="register_but" name="register_but" class="button allow-in-read-only float-r" form="registration_psw" type="submit" value="Submit" tabindex="3">

            <!--  </div>  -->
        </form>

        <div id="help-links">
            <a id="helplink" href="@TempData["helpLink"]" class="inline-block margin-l-10">Help</a>
            <span class="link-separator"> | </span>
            <a id="goBack" href="javascript:history.back()">Back</a>
            <p>&nbsp</p>
            @*<a id="helplink" href="~/Home/Help" class="inline-block margin-l-10">Help</a>*@
        </div>




    </div>
</div>
<script>
    function validateForm() {
       // var z = document.forms["forgotcredentials"]["oldPassword"].value;
        var x = document.forms["registration_psw"]["newPassword"].value;
        var y = document.forms["registration_psw"]["confPassword"].value;
        //if (x == null || x == "" || y == null || y == "" || z == null || z == "") {
		if (x == null || x == "" || y == null || y == "" ) {
            document.getElementById("errmessage").innerHTML = "fields must be filled in";
            showbanner(document.getElementById("registration_psw"));
            return false;
        }
        if (x != y) {
            document.getElementById("errmessage").innerHTML = "passwords do not match";
            showbanner(document.getElementById("registration_psw"));
            return false;
        }
    }
    function showbanner(which) {
        if (!document.getElementById)
            return
        which.style.display = "inherit"
    }
    function hidebanner(which) {
        if (!document.getElementById)
            return
        which.style.display = "none"
    }
</script>




