
@model AICPACustomLogin.Models.SetUserPassword

@{
    ViewBag.Title = "Create Password";
}


<p class="margin-btm-25">Please fill in the information below to complete registration.</p>


<div class="subcontainer-inner-wrapper">
    @Html.Partial("_ErrorMessage")
    @using (Html.BeginForm("SetPassword", "Registration", FormMethod.Post, new { @class = "v-form border-none" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <h4>Create Password</h4>
            <div class="register-block">
                <div class="margin-btm-25">
                    @Html.LabelFor(model => model.newPassword, new { @class = "control-label required" })
                    @Html.TextBoxFor(model => model.newPassword, new { @type = "password", @class = "create-password" })
                </div>
                <div>
                    @Html.LabelFor(model => model.confPassword, new { @class = "control-label required" })
                    @Html.TextBoxFor(model => model.confPassword, new { @type = "password", @class = "create-confirm-password" })
                </div>
                <div class="pwd-match-message validate-message margin-btm-10"></div>
                <div class="show-hide-password-block">
                    <input name="showPassword" class="show-hide-pwd" id="showPassword" type="checkbox" />
                    <label id="showPasswordLabel" for="showPassword" class="margin-0">Show Passwords</label>
                </div>
                <ul class="pwd-strength"></ul>
            </div>
            <input value="Submit" type="submit" class="button" />
        </fieldset>
    }
    @Html.Partial("_LoginNav")
</div>

@section scripts {
    <script type="text/javascript">
        function validateAlpha(item, event) {
            $('#' + item.id).onlyAlpha(event);
        }
        function validateNumbers(item,event) {
            $('#' + item.id).onlyNumbers(event);
        }
    </script>

    <script type="text/javascript">
        (function ($) {


            $('.create-password').pwdValidation();
            $('.create-confirm-password').passwordMatch($('.create-password'), $('.pwd-match-message'));
            $('.show-hide-pwd').pwdShowHide($('.create-password'));
            $('.show-hide-pwd').pwdShowHide($('.create-confirm-password'));
        })(jQuery);
    </script>
}





